#ceumodal {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;    
	color: #444;
	display: none; 
	z-index: 999; 
	background: rgba(0,0,0,.6); 
	width: 100vw; 
	min-height: 100vh; 
	position: fixed; 
	top: 0; 
	left: 0;	
}

#ceumodal hr {
    border: none;
    height: 1px;
    background: #e3e3e3;
}

#ceumodal h1,
#ceumodal h2,
#ceumodal h3,
#ceumodal h4,
#ceumodal h5,
#ceumodal h6 {
	font-weight: 400;
}


#ceupanel {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15px;
	background: rgba(255,255,255,.9); 
	border: solid 1px #eee; 
	padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

#ceupanel a {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

#ceupanel a:last-child {
    margin-right: 0;
}

#ceupanel button {
    -webkit-appearance: none;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    vertical-align: middle;
    line-height: 28px;
    min-height: 35px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    background-origin: border-box;
    border-radius: 4px;
    cursor: pointer;
    background-color: #82bb42;
    color: #fff;
    background-image: -webkit-linear-gradient(top,#9fd256,#6fac34);
    background-image: linear-gradient(to bottom,#9fd256,#6fac34);
    border-color: rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

#ceutext {
    max-height: 480px;
    overflow: auto;
}

#ceutext p {
    margin-bottom: 15px;
    text-align: justify;
}

/*Checkboxes styles*/
.clrf {
    clear: both;
}
#ceupanel input[type="checkbox"] {
    display: none;
}

#ceupanel input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 30px;
  float: left;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#ceupanel input[type="checkbox"] + label:last-child {
  margin-right: 0;
}

/*#ceupanel input[type="checkbox"] + label:last-child { margin-bottom: 15px; }*/

#ceupanel input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #444;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8;
/*    -webkit-transition: all .02s, border-color .01s;
    transition: all .02s, border-color .01s;*/
}

#ceupanel input[type="checkbox"] + label:after {
    content: "";
    display: block;
    clear: both;
}

#ceupanel input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#ceupanel input[type="checkbox"]:checked + label:after {
    content: "";
    display: block;
    clear: both;
}